<div id="ibo-panel-ez-{{ index}}" class="ibo-panel ibo-content-block ibo-block  ibo-is-neutral ibo-is-opened" data-role="ibo-panel">
	<div class="ibo-panel--header" data-role="ibo-panel--header">
		<div class="ibo-panel--header-left" data-role="ibo-panel--header-left">
			<div class="ibo-panel--titles" data-role="ibo-panel--titles">
				<div class="ibo-panel--title" data-role="ibo-panel--title">{{ title }}</div>
			</div>
		</div>
		<div class="ibo-panel--header-right" data-role="ibo-panel--header-right">
			{% UIToolbar ForButton {} %}

				{% UIButton IconLink {sIconClasses:'fas fa-plus', CSSClasses:['.ibo-quick-create--icon'],
				sTooltipText:'UI:Links:ActionRow:AddToken:Edit'|dict_s ,
					sURL:Infos.newtoken_link, sTarget:'TokenAdd', sId:'TokenAdd'} %}
			{% EndUIToolbar %}
		</div>
	</div>
	<div class="ibo-panel--body" data-role="ibo-panel--body">
		{{render_block(Infos.oDatatable)}}
	</div>
</div>


